table {
    width: 100%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    padding: 5px;
}

th {text-align: left;}

.request {
	cursor : pointer;
}

#container_one {
	border-style: solid;
	border-width: 1px;
	width: 45%;
	float:left;
}

#container_second {
	border-style: solid;
	border-width: 1px;
	width: 45%;
	float: right;
}